<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>homepage</title>
	</head>

	<body>
		<input type="button" value="MPS" onclick="MPS()"/>
		<input type="button" value="物料清单" onclick="BOM()"/>
		<input type="button" value="物料表" onclick="MAS()"/>
		<input type="button" value="调配构成表" onclick="COA()"/>
		<input type="button" value="库存表" onclick="stk()"/>
	</body>

	<SCRIPT LANGUAGE="JavaScript">
	function MPS(){
		window.location.href="http://203.195.149.30:8000/kingofshops/ERP"
	}
	function BOM(){
		window.location.href="http://203.195.149.30:8000/kingofshops/BOM"
	}
	function MAS(){
		window.location.href="http://203.195.149.30:8000/kingofshops/MAS"
	}
	function COA(){
		window.location.href="http://203.195.149.30:8000/kingofshops/COA"
	}
	function stk(){
		window.location.href="http://203.195.149.30:8000/kingofshops/stk"
	}
	</SCRIPT>

</html>

